<!DOCTYPE html>
{% extends 'mainPages/base.html' %}
{% block body_block %}

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
            <li class="active">ادسترسی به تقویم گوگل</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">دسترسی به تقویم گوگل</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">آیا می خواهید وعده های شما به تقویم گوگل شما اضافه شود؟</h3>
                            <hr>
                            <form enctype="multipart/form-data" method="POST">
                                {% csrf_token %}
                                <label>بله
                                    <input class="access" type="radio">
                                </label>
                                <label>خیر
                                    <input class="access" type="radio">
                                </label>
                                <input type="submit" class="btn btn-primary" value="ادامه">
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>    <!-- /container -->
{% endblock %}