<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns:g="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>وعده</title>

    <link rel="shortcut icon" href='{% static 'images/gt_favicon.png' %}'>

    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--################# -->

    <link rel="stylesheet" href='{% static 'css/bootstrap.min.css' %}'>
    <link rel="stylesheet" href='{% static 'css/font-awesome.min.css' %}'>

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href='{% static 'css/bootstrap-theme.css' %}' media="screen">
    <link rel="stylesheet" href='{% static 'css/main.css' %}'>
    <link rel="stylesheet" href='{% static 'css/popup.css' %}'>
    <link rel="stylesheet" href='{% static 'css/header/menuBurgerStyle.css' %}'>
    <link rel="stylesheet" href='{% static 'css/header/top-menu-wrapper.css' %}'>
    <!-- New custom style -->
    <link rel="stylesheet" href='{% static 'css/home_style.css' %}'>
    <!-- Font -->
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{% static 'fonts/new_fonts/fonts' %}">


    {#    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}


</head>


<body class="home">
{#<div class="navbar headroom">#}
{#    <nav role='navigation'>#}
{#        <div id="menuToggle">#}
<div id="header">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>


    <ul id="menu">
        <a href="#">
            <li>Home</li>
        </a>
        <a href="#">
            <li>About</li>
        </a>
        <a href="#">
            <li>Info</li>
        </a>
        <a href="#">
            <li>Contact</li>
        </a>
        <a href="https://google.com/" target="_blank">
            <li>Show me more</li>
        </a>
    </ul>
</div>

<div id="menu-warraper">
    <div id='space-free'></div>

    {% if user.is_authenticated %}
        <div class="top-menu-item"><span>
                       <a href="{% url 'home' %}">صفحه اصلی</a>
                    </span></div>
        <div class="top-menu-item"><span>
                        <a href="{% url 'dashboard' %}">صفحه شخصی</a>
                    </span></div>

        <div class="top-menu-item"><span>
                        <a href="{% url 'user_events' pk=user.pk %}">وعده های من</a>
                    </span></div>

        <div class="top-menu-item"><span>
                        <a href="{% url "user_not_voted_events" %}">هنوز رای نداده ام</a>
                    </span></div>
        <div class="top-menu-item"><span>
                        <a href="{% url 'user_favorite_events' %}">مورد علاقه ها</a>
                    </span></div>
        <div class="top-menu-item"><span>
                        <a href="{% url 'contact_us' %}">تماس با ما</a>
                    </span></div>

        <div class="top-menu-item profile-pic"><img src="{{ user.userProfileInfo.profile_pic.url }}"
                                                    width="50"
                                                    height="50"/></div>
        <!-- onmouseout="bigImg()" -->
        <div class="top-menu-item profile-name" onmouseover="dropDownHeader()"><span>
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
            <i class="fa fa-sort-down"
               style="font-size:24px"></i>
                 </span>

            <div class="dropdown" onmouseover="dropDownHeader()">
                <div id="myDropdown" class="dropdown-content">
                    <a href="{% url 'dashboard' %}">صفحه شخصی</a>
                    <a href="{% url "user_not_voted_events" %}">هنوز رای نداده ام</a>
                    <a href="{% url 'user_favorite_events' %}">مورد علاقه ها</a>
                    <a class="btn" href="{% url "logout" %}" style="background-color: #fcb787">خروج</a>
                </div>
            </div>
        </div>


        <div class="btn-show-access top-menu-item new-event-btn"><span>وعده جدید</span></div>
    {% else %}

        <div id="right-side-header">

            <div class="right-side-info"><a href="{% url 'contact_us' %}">تماس با ما</a></div>
            <div class="right-side-info">تیم</div>
            <div class="right-side-info">معرفی</div>
            <a href="{% url 'home' %}"><div id="vade-header" class="items-right">وعده</div></a>
        </div>

        <div id="left-side-header">
            <div id="sigin" class="back-blue"><a class="btn" href="{% url "register" %}">ثبت نام</a></div>
            <div id="login"><a class="btn" href="{% url "login" %}">ورود</a></div>
        </div>

        {##}
        {#        <div class="top-menu-item"><span>#}
        {#                        <a href="{% url 'contact_us' %}">تماس با ما</a>#}
        {#                    </span></div>#}
        {#        <div class="top-menu-item"><span>#}
        {#                       <a class="btn" href="{% url "login" %}">ورود / عضویت</a>#}
        {#                    </span></div>#}
        {#        <a href="{% url 'login' %}">#}
        {#            <div class="top-menu-item new-event-btn"><span>#}
        {#                 ثبت وعده#}
        {#                </span></div>#}
        {#        </a>#}
    {% endif %}
</div>
{#    </nav>#}
{#    </nav>#}
{#</div>#}
<!-- /.navbar -->

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>


{% block body_block %}
{% endblock %}

<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">تماس با ما</h3>
                    <div class="widget-body">
                        <p>+00000000000<br>
                            <a href="mailto:#">majidad09@gmail.com</a><br>
                            <br>
                            تهران _ بلوار کشاورز
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">ما را دنبال کنید</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fa fa-twitter fa-2"></i></a>
                            <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                            <a href=""><i class="fa fa-github fa-2"></i></a>
                            <a href=""><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>
</footer>

<div class="hover_popup_access_google">
    <span class="helper"></span>
    <div>
        <h3>با اتصال به تقویم گوگل خود از ویژگی های زیر برخوردار شوید:</h3>
        <hr>
        <ul>
            <li>هنگام تعیین موارد مورد نظر در وعده ای که می خواهید بسازید رویدادهای موجود در تقویم گوگل خود را ببینید.
            </li>
            <li>در پایان رای گیری های هر وعده آن رویداد را به تقویم گوگل خود اضافه کنید.</li>
        </ul>
        <h5>آیا می خواهید از تقویم گوگل خود استفاده کنید:</h5>
        <button class="btn btn-success" onclick="add_google_calendar('yes');" style="margin: 2%">بله</button>
        <button class="btn btn-success" onclick="add_google_calendar('no');" style="margin: 2%">خیر</button>
        <div class="popupCloseButton"><b>&#10008;</b></div>
    </div>
</div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src='{% static 'js/header.js' %}'></script>

<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src='{% static 'js/headroom.min.js' %}'></script>
<script src='{% static 'js/jQuery.headroom.min.js' %}'></script>
<script src='{% static 'js/template.js' %}'></script>


<!-- my js-->
<script src='{% static 'js/event/event.js' %}'></script>
<script src='{% static 'js/other/other.js' %}'></script>
<script>$(document).ready(function () {
    {# following codes are for popup access to google calendar #}
    $('.btn-show-access').click(function () {
        use_google_calendar = "{{ user.userProfileInfo.use_google_calendar }}";
        if (use_google_calendar === "False") {
            $('.hover_popup_access_google').show();
        } else {
            document.location.href = '/new_event';
        }
    });
    $('.popupCloseButton').click(function () {
        $('.hover_popup_access_google').hide();
    });
})</script>

</body>
</html>