<!DOCTYPE html>
{% extends 'mainPages/base.html' %}
{#{% load staticfiles %}#}
{% block body_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    {#    <script src="{% static 'js/jalaali-calendar/moment-jalaali.js' %}"></script>#}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/lang/fa.js"></script>#}
    {#            <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/lang-all.js"></script>#}

    <script>
        $(document).ready(function () {
            {# following codes are for popup fullcalendar #}
            $(".btn-show-calendar").click(function () {
                $('.hover_popup_calendar').show();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_popup_calendar').hide();
            });

            {# following codes are for popup map #}
            {#$(".btn-show-location-map").click(function () {#}
            {#    $('.hover_location_map').show();});#}
            {#$('.popupCloseButton').click(function () {#}
            {#    $('.hover_location_map').hide();});#}

            {# Following codes are for select time in full callendar #}
            var calendar = $('#calendar').fullCalendar({
                {#lang: 'fa',#}
                {#isRTL: true,#}
                {#isJalaali: true,#}
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: [
                    {% for event in google_events %}
                        {
                            title: '{{ event.title }}',
                            start: '{{ event.start|slice:"0:19"}}',
                            end: '{{ event.end|slice:"0:19"}}',
                        },
                    {% endfor %}
                ],
                selectable: true,
                selectHelper: true,
                editable: false,
                eventLimit: false,
                select: function (start, end, allDay) {
                    var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm").replace(' ', 'T');
                    var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm").replace(' ', 'T');
                    $("#start-time").val(start);
                    $("#end-time").val(end);
                },
            });
        });
    </script>

    <!-- container -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
            {% if create_or_edit == 'create' %}
                <li class="active">رویداد جدید</li>
            {% else %}
                <li class="active">ویرایش وعده</li>
            {% endif %}
        </ol>
        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">رویداد جدید</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">اطلاعات رویداد</h3>
                            <hr>
                            <p>ایمیل دوستان خود را وارد کنید:</p>
                            <input class="form-control" type="email" id="email" placeholder="example@gmail.com">
                            <p></p>
                            <button onclick="add_email({{ event_pk }});" class="btn btn-success" id="add-email-btn">اضافه
                                کن
                            </button>
                            <p></p>
                            <div id="emails">
                                <ul>
                                    {% for email in emails %}
                                        <lo class="col-md-12" id="case-added"
                                            style="text-align: left;">{{ email.email }}
                                            <button onclick="remove_email({{ email.pk }});" id="case-remove-button">X
                                            </button>
                                        </lo><p></p>
                                    {% endfor %}
                                </ul>
                            </div>
                            <hr>
                            <div>
                                <p></p>
                                <h3>جزئیات گزینه ها:</h3>
                                <label for="name-case">نام مورد</label>
                                <input type="text" id="name-case" class="form-control">
                                <label for="location">مکان</label>
                                <input type="text" id="location" class="form-control">
                                <p></p>
                                <label for="start-time">زمان شروع</label>
                                <button class="btn-show-calendar btn-info">(تقویم)</button>
                                <input type="datetime-local" id="start-time" class="form-control"
                                       value="2018-06-12T19:30">
                                <label for="end-time">زمان پایان</label>
                                <button class="btn-show-calendar btn-info">(تقویم)</button>
                                <input type="datetime-local" id="end-time" class="form-control"
                                       value="2018-07-12T19:30">


                                <p></p>
                                <button onclick="add_case({{ event_pk }});" class="btn btn-block btn-success"
                                        id="add-case-btn">اضافه کردن مورد
                                </button>
                            </div>
                            <hr>

                            <div id="cases">
                                <ul>
                                    {% for case in cases %}
                                        <lo class="col-md-12" id="case-added">
                                            <p>نام مورد: {{ case.case_name }}</p>
                                            <p>مکان: {{ case.location }}</p>
                                            <p>زمان شروع: {{ case.start_time }}</p>
                                            <p>زمان پایان: {{ case.end_time }}</p>

                                            <button onclick="remove_case({{ case.pk }});" id="case-remove-button"
                                                    class="col-md-1">X
                                            </button>
                                        </lo>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a>
                                <button id="send-email-button"
                                        onclick="send_email({{ event_pk }}, '{{ create_or_edit }}');"
                                        class="btn btn-primary"
                                        style="margin: 1%;">ثبت
                                    رویداد
                                </button>
                                <a href="{% url 'new_event' %}" class="btn btn-primary" style="margin: 1%;">بازگشت
                                </a>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
            <!-- /Article -->

        </div>
    </div>    <!-- /container -->

    {# This 'div' is for popup for calendar #}
    <div class="hover_popup_calendar">
        <span class="helper"></span>
        <div>
            <h3>زمان این گزینه را انتخاب کنید:</h3>
            <div id="calendar"></div>
            <div class="popupCloseButton"><b>&#10004;</b></div>
        </div>
    </div>

    {# This 'div' is for popup for location #}
    {#    <div class="hover_location_map">#}
    {#        <span class="helper"></span>#}
    {#        <div>#}
    {#            <div>#}
    {#                {% block location_block %}#}
    {#                {% endblock %}#}
    {#            </div>#}
    {#            <div class="popupCloseButton"><b>&#10004;</b></div>#}
    {#        </div>#}
    {#    </div>#}

    {# script for autocomplite location #}
    {#    <script>#}
    {#        function activatePlacesSearch() {#}
    {#            var input = document.getElementById('location');#}
    {#            var autocomplete = new google.maps.places.Autocomplete(input);#}
    {#            alert(autocomplete.toString());#}
    {#        }#}
    {#    </script>#}
    {#    <script type="text/javascript"#}
    {#            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGRXmsMhCxoU5Q0i7TGry1IKlTuqk7oSk&libraries=places&callback=activatePlacesSearch"></script>#}

{% endblock %}
