<!DOCTYPE html>
{% extends 'mainPages/base.html' %}
{% block body_block %}

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
            <li class="active">پروفایل</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">نظر سنجی رویداد</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>{{ event.title }}</h2>
                            <hr>
                            <table id="table">
                                <thead>
                                <tr>
                                    <td>گزینه ها</td>
                                    {% if times %}
                                        {% for time in times %}
                                            <td>
                                                <div id='cases-header'>
                                                    {{ time.start|date:'Y/n/j G:i:s' }}<p>تا</p>
                                                    {{ time.end|date:'Y/n/j G:i:s' }}
                                                </div>
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        {% for option in options %}
                                            <td>
                                                <div id='cases-header'>
                                                    {{ option.name }}
                                                </div>
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                                </thead>

                                <tr>
                                    <td>
                                        <div id='table-users'>
                                            <p>سازنده رویداد:</p>
                                            {{ event.user.username }}
                                        </div>
                                    </td>
                                </tr>
                                {% for email in emails %}
                                    <tr>
                                        <td>
                                            <div id='table-users'>
                                                {{ email.email }}
                                            </div>
                                        </td>
                                        {% if times %}
                                            {% for time in times %}
                                                <td>
                                                    <button onclick="add_vote({{ email.pk }}, {{ time.pk }}, 'time');" id='user-vote-{{ email.pk }}-{{ time.pk }}'></button>
                                                </td>
                                            {% endfor %}
                                        {% else %}
                                            {% for option in options %}
                                                <td>
                                                    <button onclick="add_vote({{ email.pk }}, {{ option.pk }}, 'option');" id='user-vote-{{ email.pk }}-{{ option.pk }}'></button>
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>    <!-- /container -->

{% endblock %}